<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499183806449-6t5g06mn819vdh1or0gqp8r7401tuink.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499183806449-6t5g06mn819vdh1or0gqp8r7401tuink</string>
	<key>API_KEY</key>
	<string>AIzaSyC_nZc9IphJbt6k9pEgQ7XLoeK7rHBGsSU</string>
	<key>GCM_SENDER_ID</key>
	<string>499183806449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotification</string>
	<key>PROJECT_ID</key>
	<string>himalayantechies</string>
	<key>STORAGE_BUCKET</key>
	<string>himalayantechies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499183806449:ios:0b896e6d2a468d0cbc8650</string>
</dict>
</plist>